%img{:alt => "Computer Hope", :height => "25", :src => "/volvo_share_logo.png", :width => "70"}/
%br/
%br/
.col-auto.my-1
  %label.mr-sm-2{:for => "inlineFormCustomSelect"} Hey! Was it easy to find the car?
  %br/
  %hr/
  %a.btn.btn-outline-success.my-2-my-sm-0{href: "/car_dash_2"}
    Yes
  %a.btn.btn-outline-success.my-2-my-sm-0{href: "/car_dash_2"}
    No

