%img{:alt => "Computer Hope", :height => "25", :src => "volvo_share_logo.png", :width => "70"}/
%br/
%br/
.form-row.align-items-center
  .col-auto.my-1
    %label.mr-sm-2{:for => "inlineFormCustomSelect"} Are you happy with your ride?
    %hr/
    %a.btn.btn-outline-success.my-2-my-sm-0{href: "/car_dash_end"}
      Yes
    %a.btn.btn-outline-success.my-2-my-sm-0{href: "/car_dash_end"}
      No
