%img{:alt => "Computer Hope", :height => "25", :src => "/volvo_share_logo.png", :width => "70"}/
%br/
%br/
.col-auto.my-1
  %label.mr-sm-2{:for => "inlineFormCustomSelect"} Is the car clean?
  %hr/
  %a.btn.btn-outline-success.my-2-my-sm-0{href: "/car_dash_3"}
    Yes
  %a.btn.btn-outline-success.my-2-my-sm-0{href: "/car_dash_3"}
    No
