- content_for(:nav_content) do
  %form.form.inline.my-2.my-lg-0
    #choose_form
      %ul.navbar-nav.mr-auto
        %li.nav-item
          %button.nav-link.btn#show_prepare_ride
            Prepare a ride
        %li.nav-item
          %button.nav-link.btn#show_request_car
            Request Car
    #prepare_ride
      .form-group
        %input.form-control.mr.sm-2{ placeholder: "My Location"}
      .form-group
        %input.form-control.mr.sm-2{ placeholder: "My Location"}
      .form-group
        %button.btn.btn-outline-success.my-2-my-sm-0{ type: "submit" }
          Prepare Ride
    #request_position
      .form-group
        %input.form-controll.mr.sm-2#request_car_distance{ placeholder: "500m" }
      .form-group
        %button.btn.btn-outline-success.my-2-my-sm-0#request_btn{ type: "button" }
          Request Car
#mapid
