#mapid{ width: '100%' }
%form
  .form-group
    %select.form-control#exampleFormControlSelect1{ name: "radius"}
      %option{ value: "50"} 50m
      %option{ value: "100"} 100m
      %option{ value: "200" } 200m
      %option{ value: "500" } 500m
