#map{ "data-lat" => @car_transfer.lat, "data-lng" => @car_transfer.lng}
%p
  Can you bring the car to this position
%hr/
%a.btn.btn-outline-success.my-2-my-sm-0{href: "/car_dash_2"}
  Yes
%a.btn.btn-outline-success.my-2-my-sm-0{href: "/car_dash_2"}
  No
