%table.table
  - @products.each do |product|
    %tr
      %td= product.title
      %td= product.description
      %td= product.price.to_s + " Viking Horns"
      %td= link_to "buy", product_buy_path(product)
